@import "./variables";
@import "./mixin";
/* CSS RESETS */
* {
	box-sizing: inherit;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	background-color: $magnolia;
	width: 100%;
	@include center-component;
}
@import "./ui/app-layout/app-layout"
